<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>TRegister</servlet-name>
        <servlet-class>TRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TLogin</servlet-name>
        <servlet-class>TLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddQues</servlet-name>
        <servlet-class>AddQues</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>survey</servlet-name>
        <servlet-class>survey</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Done</servlet-name>
        <servlet-class>Done</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewResult</servlet-name>
        <servlet-class>ViewResult</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteQues</servlet-name>
        <servlet-class>DeleteQues</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TRegister</servlet-name>
        <url-pattern>/TRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TLogin</servlet-name>
        <url-pattern>/TLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddQues</servlet-name>
        <url-pattern>/AddQues</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>survey</servlet-name>
        <url-pattern>/survey</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Done</servlet-name>
        <url-pattern>/Done</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewResult</servlet-name>
        <url-pattern>/ViewResult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteQues</servlet-name>
        <url-pattern>/DeleteQues</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
